\#*#
*~
*.swp
.DS_Store
private
emacs.d/server/server
emacs.d/tramp
emacs.d/ddskk.*
emacs.d/persp-confs/*
emacs.d/.emacs.desktop
emacs.d/.emacs.desktop.lock
xmonad/xmonad-x86_64-linux
xmonad/xmonad-x86_64-linux-back
xmonad/xmonad.errors
xmonad/xmonad.o
xmonad/xmonad.hi