[Unit]
Description=dotfiles Sync process

[Service]
Type=simple
ExecStart=/bin/bash /home/waka/bin/sync_dotfiles.sh

[Install]
WantedBy=default.target
