[Unit]
Description=dotfiles(private) Sync process

[Service]
Type=simple
ExecStart=/bin/bash /home/waka/bin/sync_dotfiles_private.sh

[Install]
WantedBy=default.target
